<h3>20 most recent donations</h3>
<table>
<tr><th>Date</th><th>Amount</th><th>Category</th></tr>
<tr><td><span title='5/21/2023' class='calculate-time-elapsed' data='1684638243'>5/21/2023</span></td><td>~3.7mBTC</td><td>FrequentUpdates</td></tr>
<tr><td><span title='5/8/2023' class='calculate-time-elapsed' data='1683524925'>5/8/2023</span></td><td>~350µBTC</td><td>FrequentUpdates</td></tr>
<tr><td><span title='5/4/2023' class='calculate-time-elapsed' data='1683219749'>5/4/2023</span></td><td>~350µBTC</td><td>Any</td></tr>
<tr><td><span title='5/4/2023' class='calculate-time-elapsed' data='1683216058'>5/4/2023</span></td><td>~690µBTC</td><td>Any</td></tr>
<tr><td><span title='4/25/2023' class='calculate-time-elapsed' data='1682401092'>4/25/2023</span></td><td>~180µBTC</td><td>Any</td></tr>
<tr><td><span title='3/12/2023' class='calculate-time-elapsed' data='1678627481'>3/12/2023</span></td><td>~49µBTC</td><td>Any</td></tr>
<tr><td><span title='3/12/2023' class='calculate-time-elapsed' data='1678600596'>3/12/2023</span></td><td>~150µBTC</td><td>FrequentUpdates</td></tr>
<tr><td><span title='3/2/2023' class='calculate-time-elapsed' data='1677720768'>3/2/2023</span></td><td>~100µBTC</td><td>Any</td></tr>
<tr><td><span title='2/24/2023' class='calculate-time-elapsed' data='1677268505'>2/24/2023</span></td><td>~460µBTC</td><td>Any</td></tr>
<tr><td><span title='2/18/2023' class='calculate-time-elapsed' data='1676681946'>2/18/2023</span></td><td>~81µBTC</td><td>MoreWallets</td></tr>
<tr><td><span title='1/5/2023' class='calculate-time-elapsed' data='1672897266'>1/5/2023</span></td><td>~3mBTC</td><td>Any</td></tr>
<tr><td><span title='12/19/2022' class='calculate-time-elapsed' data='1671455572'>12/19/2022</span></td><td>~600µBTC</td><td>MoreOS</td></tr>
<tr><td><span title='11/29/2022' class='calculate-time-elapsed' data='1669724807'>11/29/2022</span></td><td>~1.2mBTC</td><td>FrequentUpdates</td></tr>
<tr><td><span title='11/19/2022' class='calculate-time-elapsed' data='1668883821'>11/19/2022</span></td><td>~4.8mBTC</td><td>Any</td></tr>
<tr><td><span title='11/19/2022' class='calculate-time-elapsed' data='1668883652'>11/19/2022</span></td><td>~1000µBTC</td><td>Any</td></tr>
<tr><td><span title='11/16/2022' class='calculate-time-elapsed' data='1668602298'>11/16/2022</span></td><td>~120µBTC</td><td>Any</td></tr>
<tr><td><span title='11/2/2022' class='calculate-time-elapsed' data='1667408479'>11/2/2022</span></td><td>~240µBTC</td><td>Any</td></tr>
<tr><td><span title='10/16/2022' class='calculate-time-elapsed' data='1665944697'>10/16/2022</span></td><td>~210µBTC</td><td>Any</td></tr>
<tr><td><span title='10/4/2022' class='calculate-time-elapsed' data='1664849928'>10/4/2022</span></td><td>~1.3mBTC</td><td>Any</td></tr>
<tr><td><span title='9/24/2022' class='calculate-time-elapsed' data='1664026987'>9/24/2022</span></td><td>~52µBTC</td><td>Any</td></tr>
<tr><td>...</td><td>...</td><td>...</td></tr>
</table>
<h3>All donations by category</h3>
<table><tr><th>Category</th><th>Sum</th></tr>
<tr><td>Any</td><td>~2BTC</td></tr>
<tr><td>CodeReviews</td><td>~9.7mBTC</td></tr>
<tr><td>MoreWallets</td><td>~6.8mBTC</td></tr>
<tr><td>FrequentUpdates</td><td>~6.5mBTC</td></tr>
<tr><td>MoreOS</td><td>~3.6mBTC</td></tr>
<tr><td>NonBitcoinWallets</td><td>~630µBTC</td></tr>
<tr><td>Alerts</td><td>~12µBTC</td></tr>
<tr><td>NonWalletApps</td><td>~3sat</td></tr>
<tr><th>Total</th><th>~2BTC</th></tr>
</table>